<h1 >Featured Posts</h1>

<table style="width:50%">
  <thead>
    <tr>
      <th style ="text-align:Justify;"><strong>Title</strong></th>
      <th style ="text-align:Justify;"><strong>Body</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td style ="text-align:Justify;"><%= post.title %></td>
        <td style ="text-align:Justify;"><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <% if user_signed_in? %>
      <% if current_user.id == post.user_id %>
       <td><%= link_to 'Edit', edit_post_path(post) %></td>
       <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
